body {
  padding: 60px;
  font: 25px "Lucida Grande", Helvetica, Arial;
}

textarea {
  font-size: 20px;
  padding: 10px;
  resize: none;
  horizontal-align: center;
  background-color: #e2e2e2;
  color: black;
}

textarea:focus {
  outline: 1px solid #3ae64b;
}

a {
  text-decoration: none;
  color: #3ae64b;
}

a.list {
  color: black;
}

a.list:hover {
  color: #3ae64b;
}

input {
  width: 60px;
  height: 22px;
}

ul {
  overflow: scroll;
  height: 200px;
  border: 2px solid #ccc;
  font-size: 16px;
  padding: 0px;
}

li {
  list-style-type: none; /* removes the left dots */
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  color: black;
}

li:nth-child(even) {
  background: #f8f8f8;
}

img {
  transform: translateX(50px);
}

#arrowContainer {
  height: 100px;
  width: 40%;
  display: inline-table;
  position: relative; 
  top: 50%;
  animation-name: slideRight;
  animation-duration: 2.5s;
}

@keyframes slideRight {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(90px);
  }
  100% {
    transform: translateX(0px);
  }
}

#insulinAnimation {
  padding-left: 7%; /* Move the carb div to the right */
}

#insulin {
  font: 27px "Lucida Grande", Helvetica, Arial;
  display: inline-table;
  text-align: center;
  background-color: #e2e2e2;
  border: 4px solid #3ae64b;
  height: 70px;
  width: 200px;
  
  transform: translateY(-85px);
}

#insulin span {
  display: block;
  position: relative;
  top: 50%;
}

#carbs {
  font: 27px "Lucida Grande", Helvetica, Arial;
  display: inline-table;
  text-align: center;
  background-color: #e2e2e2;
  border: 4px solid #3ae64b;
  height: 70px;
  width: 200px;

  transform: translateY(-85px);
}

#carbs span {
  display: block;
  position: relative;
  top: 50%;
}

#searchBtn {
  position: relative; 
  top: -16;
  right: -5;
}

#searchDiv {
  display: inline-block;
  text-align: center;
  position: relative;
}

#saveButton {
  font-size: 15px;
  padding: 5px 10px;  
}

#personalInfo { /* Area of Account where height, weight, age, insulin entered */
  font: 20px "Lucida Grande", Helvetica, Arial;
  float: left;
}

#personalInfoContainer {
  overflow: hidden;
}

.account {  
  font: 17px "Lucida Grande", Helvetica, Arial;
}

.topCorner{
  position: absolute;
  top: 12px;
  right: 14px;
  display: inline-block;
}

.topCorner span {
  padding-left: 4px;
}

.greenOut {
  border: 3px solid #3ae64b;
  background-color: #e2e2e2;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  padding: 10px 15px;
  font-family: Verdana;
  font-size: 17px;
  text-decoration: none;
}
.greenOut:hover {
  background-color: #bfbfbf;
}
.greenOut:focus{
  outline: 0;
}

