.active {
  color: green;
}
body {
  padding: 60px;
  font: 25px "Lucida Grande", Helvetica, Arial;
}
textarea {
  font-size: 20px;
  padding: 10px;
  resize: none;
  horizontal-align: center;
}

a {
  text-decoration: none;
  color: green;
}

#topcorner{
  position:absolute;
  top: 12px;
  right: 12px;
  font-size: 18px;
}

.greenOut {
  background-color:transparent;
  border:3px solid #3ae64b;
  display:inline-block;
  cursor:pointer;
  color:#000000;
  font-family:Verdana;
  font-size:17px;
  padding:10px 23px;
  text-decoration:none;
}
.greenOut:hover {
  background-color:transparent;
}
.greenOut:focus{
  outline: 0;
}
.greenOut:active {
  position:relative;
}



