body {
  padding: 60px;
  font: 25px "Lucida Grande", Helvetica, Arial;
}

textarea {
  font-size: 20px;
  padding: 10px;
  resize: none;
  horizontal-align: center;
  background-color: #e2e2e2;
  color: black;
}

a {
  text-decoration: none;
  color: #3ae64b;
}

input {
  width: 60px;
  height: 22px;
}

ul {
  overflow: scroll;
  height: 200px;
  border: 2px solid #ccc;
  font-size: 16px;
  padding: 0px;
}

li {
  list-style-type: none; /* removes the left dots */
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  &:nth-child(even) {
    background: #f4f4f4;
  }
}

#searchBtn {
  position: absolute;
  top: 0;
  right: -25;
}

#searchDiv {
  display: inline-block;
  text-align: center;
  position: relative;
}

#saveButton {
  float: left;
  position: relative;
  bottom: 0;
}

#personalInfo { /* Area of Account where height, weight, age, insulin entered */
  font: 20px "Lucida Grande", Helvetica, Arial;
  float: left;
}

#personalInfoContainer {
  overflow: hidden;
}

.account {  
  font: 17px "Lucida Grande", Helvetica, Arial;
}

.topCorner{
  position: fixed;
  top: 12px;
  right: 14px;
  display: inline-block;
}

.greenOut {
  border: 3px solid #3ae64b;
  background-color: #e2e2e2;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  padding: 10px 15px;
  font-family: Verdana;
  font-size: 17px;
  text-decoration: none;
}
.greenOut:hover {
  background-color: #bfbfbf;
}
.greenOut:focus{
  outline: 0;
}
.greenOut:active {
/* position: relative; */
}

